In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import svm

In [7]:
data = pd.read_csv("train.csv")

In [8]:
data

,game_id,game_date,team,FGA_2,FGM_2,FGA_3,FGM_3,FTA,FTM,AST,...,largest_lead,notD1_incomplete,OT_length_min_tot,rest_days,attendance,tz_dif_H_E,prev_game_dist,home_away,home_away_NS,travel_dist
0,game_2022_2011,2021-12-30,georgia_lady_bulldogs,50,22,11,5,6,3,14,...,1.0,False,NaN,9.0,3241.0,0.0,0.0,home,1,0.0
1,game_2022_2011,2021-12-30,lsu_tigers,50,24,11,4,15,8,15,...,14.0,False,NaN,3.0,3241.0,0.0,824.0,away,-1,824.0
2,game_2022_2012,2021-12-30,missouri_tigers,43,18,15,7,16,13,10,...,8.0,False,5.0,8.0,6139.0,0.0,371.0,home,1,0.0
3,game_2022_2012,2021-12-30,south_carolina_gamecocks,55,23,21,6,9,5,15,...,6.0,False,5.0,9.0,6139.0,0.0,1154.0,away,-1,1154.0
4,game_2022_2013,2021-12-30,tennessee_lady_volunteers,41,20,15,4,15,10,16,...,19.0,False,NaN,3.0,8124.0,0.0,0.0,home,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10433,game_2022_4795,2022-03-01,xavier_musketeers,44,19,12,2,12,9,15,...,0.0,False,NaN,2.0,156.0,0.0,0.0,home,1,0.0
10434,game_2022_4968,2022-03-04,harvard_crimson,30,19,39,15,10,2,20,...,40.0,False,NaN,13.0,373.0,0.0,378.0,away,-1,173.0
10435,game_2022_4968,2022-03-04,dartmouth_big_green,32,15,26,6,7,4,7,...,3.0,False,NaN,6.0,373.0,0.0,479.0,home,1,0.0
10436,game_2022_5067,2022-03-06,harvard_crimson,38,13,35,6,10,9,11,...,0.0,False,NaN,2.0,757.0,0.0,173.0,home,1,0.0
10437,game_2022_5067,2022-03-06,princeton_tigers,37,22,20,6,15,11,15,...,25.0,False,NaN,2.0,757.0,0.0,373.0,away,-1,373.0

In [9]:
data_x = data.loc[3:]

In [10]:
data_x

,game_id,game_date,team,FGA_2,FGM_2,FGA_3,FGM_3,FTA,FTM,AST,...,largest_lead,notD1_incomplete,OT_length_min_tot,rest_days,attendance,tz_dif_H_E,prev_game_dist,home_away,home_away_NS,travel_dist
3,game_2022_2012,2021-12-30,south_carolina_gamecocks,55,23,21,6,9,5,15,...,6.0,False,5.0,9.0,6139.0,0.0,1154.0,away,-1,1154.0
4,game_2022_2013,2021-12-30,tennessee_lady_volunteers,41,20,15,4,15,10,16,...,19.0,False,NaN,3.0,8124.0,0.0,0.0,home,1,0.0
5,game_2022_2013,2021-12-30,alabama_crimson_tide,42,12,29,5,8,5,8,...,2.0,False,NaN,17.0,8124.0,0.0,439.0,away,-1,439.0
6,game_2022_2111,2022-01-02,auburn_tigers,45,15,15,3,20,14,7,...,4.0,False,NaN,13.0,2985.0,0.0,197.0,away,-1,197.0
7,game_2022_2111,2022-01-02,alabama_crimson_tide,40,14,18,4,29,16,9,...,13.0,False,NaN,3.0,2985.0,0.0,439.0,home,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10433,game_2022_4795,2022-03-01,xavier_musketeers,44,19,12,2,12,9,15,...,0.0,False,NaN,2.0,156.0,0.0,0.0,home,1,0.0
10434,game_2022_4968,2022-03-04,harvard_crimson,30,19,39,15,10,2,20,...,40.0,False,NaN,13.0,373.0,0.0,378.0,away,-1,173.0
10435,game_2022_4968,2022-03-04,dartmouth_big_green,32,15,26,6,7,4,7,...,3.0,False,NaN,6.0,373.0,0.0,479.0,home,1,0.0
10436,game_2022_5067,2022-03-06,harvard_crimson,38,13,35,6,10,9,11,...,0.0,False,NaN,2.0,757.0,0.0,173.0,home,1,0.0
10437,game_2022_5067,2022-03-06,princeton_tigers,37,22,20,6,15,11,15,...,25.0,False,NaN,2.0,757.0,0.0,373.0,away,-1,373.0